# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
.env
.venv
env/
venv/

# Data and Databases (Ignore all large data, keep structure if needed)
data/
!data/.gitkeep
*.db
*.sqlite

# Temporary files
temp/
scratch/
*.jpg
*.png
*.mp3

# OS specific
.DS_Store
Thumbs.db
.idea/
.vscode/
