# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
.env
.venv
env/
venv/

# Data and Databases
data/chroma_db/
data/*.db
data/raw/
data/processed/
data/knowledge_base/

# Model weights
*.pt
*.bin

# OS specific
.DS_Store
Thumbs.db
